@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-stone-800;
    @apply bg-[#efefef];
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }

  .dark {
    @apply bg-[#393939] text-slate-300;
  }

  .content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
  }

  .content-div:hover {
    background-image: linear-gradient(to right, #ebebeb, #b2b2b2) !important;
  }

  .pause {
    animation-play-state: paused;
  }
}
